* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid black; */
    font-family: 'jk', 'Courier New', Courier, monospace;
}

@font-face {
    font-family: 'jk';
    src: url(assets/Fonts/PlusJakartaSans-VariableFont_wght.ttf);
}

/* Fluid Typography Font Sizes */

:root {
    --fs-sm: clamp(0.5rem, 0.63vi + 0.37rem, 0.94rem);
    --fs-base: clamp(0.63rem, 0.89vi + 0.45rem, 1.25rem);
    --fs-md: clamp(0.78rem, 1.26vi + 0.53rem, 1.67rem);
    --fs-lg: clamp(0.98rem, 1.78vi + 0.62rem, 2.22rem);
    --fs-xl: clamp(1.22rem, 2.49vi + 0.72rem, 2.96rem);
    --fs-xxl: clamp(1.53rem, 3.46vi + 0.83rem, 3.95rem);
    --fs-xxxl: clamp(1.91rem, 4.79vi + 0.95rem, 5.26rem);
}

/* Header */

header {
    display: flex;
    align-items: center;
    max-width: 100%;
    height: 10vh;
    margin-right: 7vw;
    margin-left: 7vw;
    justify-content: space-between;
}

/* Logo Work */

#logo-full {
    display: flex;
    align-items: center;
    gap: 5px;
}

#logo-img {
    width: var(--fs-lg);
}

#logo-name {
    font-size: var(--fs-md);
    font-family: 'jk';
    font-weight: 800;
}

/* Search bar */

#mag-glass {
    width: var(--fs-md);
}

#search-panel {
    display: flex;
    width: fit-content;
    align-items: center;
    padding: 10px;
    gap: 5px;
    background-color: #F4F5F7;
    border-radius: 100px;
}

#search-bar {
    border: none;
    background-color: transparent;
    font-size: var(--fs-sm);
    width: 25vw;
}

#search-bar:focus {
    outline: none;
}


.language {
    display: flex;
    align-items: center;
    gap: 0px;
}

#lang-img {
    width: var(--fs-base);
}

#lang {
    padding: 5px;
    border: none;
    display: flex;
    appearance: none;
    font-size: var(--fs-base);
    font-weight: 700;
    color: rgb(154, 158, 166);
}

#lang:focus {
    border: none;
    outline: none;
}

.triangle {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 8px 6px 0 6px;
    border-color: rgb(154, 158, 166) transparent transparent transparent;
    margin-top: 2px;
    transform: rotate(0deg);
    transition: transform 250ms ease;
}

/* Location */

.location {
    display: flex;
    gap: 5px;
    align-items: center;
}

#location-name-select {
    display: flex;
    flex-direction: column;
    align-items: start;
}

#location-select {
    display: flex;
    border: none;
    appearance: none;
    align-items: center;
    font-size: var(--fs-base);
    font-weight: 700;
    color: #4475F2;
}

#location-select:focus {
    outline: none;
}

#location-group {
    display: flex;
    align-items: center;
}

#location-name {
    font-size: calc(var(--fs-sm));
    font-weight: 250;

}

#location-img {
    width: var(--fs-xl);
}

.triangle2 {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 8px 6px 0 6px;
    border-color: rgb(154, 158, 166) transparent transparent transparent;
    margin-top: 2px;
    transform: rotate(0deg);
    transition: transform 250ms ease;
}


@media only screen and (max-width: 720px) {

    .triangle,
    .triangle2,
    #location-name,
    #location-select,
    #lang {
        display: none;
    }

    #lang-img {
        width: var(--fs-xl);
    }

    #location-img {
        width: var(--fs-xxl);
    }

}

@media only screen and (max-width: 400px) {
    #search-bar {
        display: none;
    }
}

#header-finish {
    opacity: 0.5;
}

/* Hamburger Menu */

#hamburger {
    display: flex;
    flex-direction: column;
    gap: 3.5px;
    align-items: center;
    display: none;
}

.l1,
.l2,
.l3 {
    width: 30px;
    height: 2px;
    background-color: rgb(154, 158, 166);
}

@media only screen and (max-width: 550px) {
    #hamburger {
        display: flex;
    }

    .language,
    .location,
    #search-panel {
        display: none;
    }
}


/* navigation Bar */

#nav-container {
    display: flex;
    justify-content: space-between;
    margin-left: 7vw;
    margin-right: 7vw;
    padding: 1em;
    align-items: center;
}

#nav-bar {
    display: flex;
    gap: 3vw;
    flex-wrap: wrap;
}


.link {
    display: flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    color: #969BAB;
    font-size: var(--fs-sm);


}

@media only screen and (max-width: 420px) {
    .link {
        align-items: flex-start;

    }

}

.arrowhead {
    display: inline-block;
    border: solid #969BAB;
    border-width: 0 1px 1px 0;
    padding: 3px;
    transform: rotate(45deg);
}


#navigation-buttons {
    display: flex;
    gap: 5px;
}

#user,
#cart {
    width: var(--fs-xl);
}


/* hero section */

.hero-section {
    display: flex;
    margin-left: 7vw;
    margin-right: 7vw;
    align-items: start;
    justify-content: left;

}

@media only screen and (max-width: 750px) {
    .hero-section {
        flex-direction: column;
        align-items: center;
    }
}

.hero__explore {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: start;
    margin-top: 1rem;
    width: fit-content;
}

#hero__heading {
    font-weight: 800;
    font-size: var(--fs-xl);

}

@media only screen and (max-width: 750px) {
    br {
        display: none;
    }
}

#hero_wonders {
    background-color: rgba(7, 137, 223, 0.1);
    padding: 2px;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 50px;
    display: flex;
    gap: 3px;
    align-items: center;
}

#hero__emoji {
    font-size: var(--fs-sm);
}

#hero__tag {
    font-size: calc(var(--fs-sm)* 0.9);
    display: flex;
    align-items: center;
    font-weight: 700;
    color: #4737FF;
}

#hero__dot {
    font-size: var(--fs-md);
    color: #4737FF;

}

#hero_description {
    line-height: 1.5;
    font-size: calc(var(--fs-sm) * 0.8);
    color: #969BAB;

}

@media only screen and (max-width: 750px) {
    br {
        display: none;
    }

    #hero_description {

        font-size: calc(var(--fs-base));
    }


}

.hero__img-cont {
    display: flex;
    flex: 1;
    justify-content: center;
}

#hero__img {
    width: calc(var(--fs-xxxl) + 20rem);
}

#hero__img {
    @media only screen and (max-width: 400px) {
        width: calc(var(--fs-xxxl) + 12rem);
    }

    @media only screen and (max-width: 700px) {
        width: calc(var(--fs-xxxl) + 20rem);
    }

    @media only screen and (min-width: 1000px) {
        width: calc(var(--fs-xxxl) + 25rem);
    }
}

#hero__summer {
    color: #4737FF;
}


.hero_buttons {
    display: flex;
    align-items: center;
    gap: 20px;

}

@media only screen and (max-width: 750px) {

    .hero_buttons {
        width: 70%;
        justify-content: space-between;
    }

}

#hero__button {
    background-color: #4475F2;
    padding: calc(var(--fs-sm));
    border: transparent;
    color: white;
    border-radius: 10px;
    -webkit-box-shadow: 0px 20px 35px 0px rgba(68, 117, 242, 0.4);
    -moz-box-shadow: 0px 20px 35px 0px rgba(68, 117, 242, 0.4);
    box-shadow: 0px 5px 35px 0px rgba(68, 117, 242, 0.4);
    font-size: calc(var(--fs-base) * 0.8);

}

#hero__play-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}



#hero_play {
    width: 2em;
    border: 2px solid #4475F2;
    border-radius: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1;
}

#hero_triangle {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 4px 0 4px 6.9px;
    border-color: transparent transparent transparent #4475F2;
    transform: rotate(0deg);
    -webkit-box-shadow: 0px 3px 35px 0px rgba(68, 117, 242, 0.4);
    -moz-box-shadow: 0px 3px 35px 0px rgba(68, 117, 242, 0.4);
    box-shadow: 0px 3px 35px 0px rgba(68, 117, 242, 0.4);
    margin-left: 1px;
}

#hero_play-label {
    color: #969BAB;
    font-weight: 700;
    font-size: var(--fs-sm);
}


.companies {
    max-width: 100%;
    margin-left: 7vw;
    margin-right: 7vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 2rem;
}

#comapny__img-1,
#comapny__img-2,
#comapny__img-3,
#comapny__img-4,
#comapny__img-5 {
    padding: 1em;
    width: var(--fs-base) * 2;
}

@media only screen and (max-width: 420px) {

    #comapny__img-1,
    #comapny__img-2,
    #comapny__img-3,
    #comapny__img-4,
    #comapny__img-5 {
        width: 8em;
    }
}

#comapny__img-1:hover,
#comapny__img-2:hover,
#comapny__img-3:hover,
#comapny__img-4:hover,
#comapny__img-5:hover {
    box-shadow: 0 10px 25px rgb(0, 0, 0, 0.2);
}

#destination-description {
    display: flex;
    gap: 5px;
    align-items: center;
}

#destination-heading {
    display: flex;
    flex-direction: column;
    /* gap: var(--fs-md); */
    margin-bottom: 1rem;
}

#destination-heading-text {
    font-size: var(--fs-md);
}

#destination-title {
    font-size: var(--fs-sm);
    color: #4475F2;
    font-weight: 700;
}

#destination-data {
    display: flex;
    position: relative;
}

#air__emoji {
    font-size: var(--fs-base);
}

#destination-more {
    position: absolute;
    right: 0;
    align-self: center;
    text-decoration: none;
    font-size: var(--fs-sm);
}

#destination-fav {
    display: flex;
    flex-direction: column;
    margin-left: 7vw;
    margin-right: 7vw;
    margin-bottom: 5vh;
    max-width: 100%;
}


#destination-imgs {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media only screen and (max-width: 800px) {
    #destination-imgs {
        justify-content: space-evenly;
    }
}

#destination-img__cont1,
#destination-img__cont2,
#destination-img__cont3,
#destination-img__cont4 {
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 10px 25px rgb(0, 0, 0, 0.4);
}

#destination-img-1,
#destination-img-2,
#destination-img-3,
#destination-img-4 {
    width: calc(var(--fs-xxxl) * 3.2);
    height: 100%;
    object-fit: cover;
}




@media only screen and (max-width: 800px) {
    #destination-imgs {
        gap: var(--fs-xl);
    }
}

#destination-info {
    display: flex;
    flex-direction: column;
    width: fit-content;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 0 10px 0 0;
    position: absolute;
    padding: 1em;
    left: 0;
    bottom: 0;
    text-align: center;
}

#destination-name {
    font-size: calc(var(--fs-sm) * 0.9);
}

#destination-city {
    font-size: calc(var(--fs-sm) * 0.7);
}

/* reservation panel */

#reservation-fav {
    display: flex;
    align-items: center;
    margin: 0 7vw;
    justify-content: space-between;
}

#reservation-img {
    width: calc(var(--fs-xxxl) * 8);
}

@media only screen and (max-width:850px) {
    #reservation-fav {
        flex-direction: column;
    }

    #reservation-img {
        width: calc(var(--fs-xxxl) * 10);
    }
}

#reservation-description {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#reservation-tag {
    color: #4475F2;
    font-weight: 700;
}

#reservation-heading {
    font-size: var(--fs-xl);
}

#reservation-mag-box,
#reservation-pencil-box,
#reservation-love-box {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-top: 1rem;
}

#reservation-pencil,
#reservation-love,
#reservation-mag {
    padding: 0.5rem;
    border-radius: 10px;
    background-color: #efe0b4;
    aspect-ratio: 1;
}

#reservation-pencil-heading,
#reservation-love-heading,
#reservation-mag-heading {
    font-size: var(--fs-base);
    font-weight: 500;
}

#reservation-mag-description,
#reservation-love-description,
#reservation-pencil-description {
    font-size: var(--fs-sm);
}

#map-wisata {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin: 0 7vw 7vh 7vw;
    text-align: center;

}

#map-tag {
    color: #4475F2;
    font-weight: 700;
    font-size: var(--fs-sm);
}

#map-heading {
    font-weight: 1000;
    font-size: var(--fs-xl);
}

#map-content {
    display: flex;
    text-align: center;
    line-height: 2;
    font-weight: 400;
    font-stretch: condensed;
    font-size: calc(var(--fs-base) * 0.9);
}

#map {
    width: calc(100vw - 14vw);
    height: 400px;
    border: 0;
}

#map-features {
    display: flex;
    width: 100%;
    /* border: 1px solid black; */
    justify-content: space-between;
}

#feature1,
#feature2,
#feature3 {
    display: flex;
    align-items: center;
    gap: 5px;
}

#feature1-desc,
#feature2-desc,
#feature3-desc {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 20vw;
}

#feature1-img,
#feature2-img,
#feature3-img {
    padding: 7px;
    margin-top: 5px;
    align-self: self-start;
    background-color: #eef1f5;
    border-radius: 50%;
}

#feature2-img {
    padding: 10px;
}

#feature1-heading,
#feature2-heading,
#feature3-heading {
    font-size: var(--fs-base);
    font-weight: 700;
}

#feature1-content,
#feature2-content,
#feature3-content {
    font-size: var(--fs-sm);
}

@media only screen and (max-width: 850px) {
    #map-wisata {
        align-items: center;
        text-align: center;
    }

    #map-features {
        flex-direction: column;
    }

    #feature1-desc,
    #feature2-desc,
    #feature3-desc {
        width: auto;
        text-align: left;
    }

    #feature1,
    #feature2,
    #feature3 {
        gap: 1rem;
    }

    #map-features {
        gap: 1rem;
    }
}

/* Testimonial section */

#testimonial-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 7vw 7vh 7vw;
    gap: 1rem;
    text-align: center;
}

#testimonial-tag {
    color: #4475F2;
    font-weight: 700;
    font-size: var(--fs-sm);
}

#testmonial-heading {
    font-weight: 1000;
    font-size: var(--fs-xl);
}

#testimonial-content {
    display: flex;
    text-align: center;
    line-height: 1.6;
    font-weight: 400;
    font-stretch: condensed;
    font-size: calc(var(--fs-base) * 0.8);
}

#testimonial-banner {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}


#person1,
#person2,
#person3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--fs-lg);
    border: none;
    justify-content: space-between;
    box-shadow: 5px 15px 20px 0px rgba(0, 0, 0, 0.2);
    width: 28%;
    padding: 1rem;
}

#person1-img-cont,
#person3-img-cont,
#person2-img-cont {
    display: flex;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    overflow: hidden;
}

#person1-img,
#person2-img,
#person3-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#person1-desc,
#person2-desc,
#person3-desc {
    font-size: var(--fs-sm);
    font-weight: 600;
    color: #969BAB;
}

#person1-tag,
#person2-tag,
#person3-tag {
    color: #4475F2;
    font-size: calc(var(--fs-sm));
    text-decoration: none;
    font-weight: 670;
}


#person1-status,
#person2-status,
#person3-status {
    font-size: calc(var(--fs-sm) *0.9);
    font-weight: 450;
}


/* Gallery */

#gallery {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-bottom: 2rem;
}

#gallery-container {
    display: flex;
    flex-direction: column;
    margin-top: 20vh;
    margin-left: 7vw;
    margin-right: 7vw;
    margin-bottom: 20vh;
}

#gallery-description {
    display: flex;
    gap: 5px;
    align-items: center;
}

#gallery-heading {
    display: flex;
    flex-direction: column;
    gap: var(--fs-sm);
    margin-bottom: 1rem;
}

#gallery-heading-text {
    font-size: var(--fs-md);
    text-align: center;
}

@media only screen and (min-width: 800px) {
    #gallery-heading-text {
        font-size: var(--fs-lg);
    }
}

#gallery-title {
    font-size: var(--fs-sm);
    color: #4475F2;
    font-weight: 700;
}

#gallery-data {
    display: flex;
    position: relative;
}

#gallery-more {
    position: absolute;
    right: 0;
    align-self: center;
    text-decoration: none;
    font-size: var(--fs-sm);
}

/* Row 1 */
#describer {
    width: 25vw;
    gap: 1.5rem;
    display: flex;
    flex-direction: column;
    border: none;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 10px 15px 20px 0px rgba(0, 0, 0, 0.2);
}

#date {
    font-weight: 600;
    font-size: calc(var(--fs-sm));
    margin-left: 1rem;
    color: #969BAB;
}

#describer-tag {
    margin-left: 1rem;
    font-weight: 700;
    font-size: var(--fs-base);
    margin-right: 1rem;
    line-height: var(--fs-md);
}

#describer-content {
    margin-left: 1rem;
    font-weight: 600;
    color: #969BAB;
    font-size: var(--fs-sm);
    margin-right: 2rem;
}

#describer-link {
    margin-left: 1rem;
    margin-bottom: 3rem;
    font-size: calc(var(--fs-sm));
    color: #4475F2;
    font-weight: 700;
    text-decoration: none;
}

#gallery-row-one {
    margin-top: 2rem;
    display: flex;
    align-items: stretch;
    gap: 3vw;
}

#video-box {
    display: flex;
    width: 70vw;

}

#video {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

@media only screen and (max-width: 1200px) {
    #describer {
        width: 30vw;
    }

    #video-box {
        width: 65vw;
    }
}

@media only screen and (max-width: 720px) {
    #describer {
        width: 40vw;
    }

    #video-box {
        width: 55vw;
    }
}

@media only screen and (max-width: 470px) {
    #describer {
        width: 50vw;
    }

    #video-box {
        width: 45vw;
    }
}

/* Row 2 */

#gallery-row-two {
    /* background-image: url(assets/backgrounds/tips.jpeg); */
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('assets/backgrounds/tips.jpeg');
    background-size: cover;
    background-position: center;
    height: 27vh;
    position: relative;
    border-radius: 10px;
    box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.5);
}

#row-two-data {
    display: flex;
    flex-direction: column;
    color: white;
    position: absolute;
    left: 1rem;
    bottom: 1rem;
    gap: 1.5rem;
    width: 50%;
}

#row-two-heading {
    font-size: calc(var(--fs-md) * 0.7);
    font-weight: 800;
    letter-spacing: 2px;
}

#row-two-content {
    font-size: var(--fs-sm);
    font-weight: 500;

}

#row-two-tags {
    display: flex;
    gap: 1rem;
    font-size: var(--fs-sm);
    font-weight: 500;
}

@media only screen and (max-width: 950px) {
    #row-two-data {
        width: 55%;
    }
}

@media only screen and (max-width: 850px) {
    #row-two-data {
        width: 65%;
    }
}

@media only screen and (max-width: 750px) {
    #row-two-data {
        width: 75%;
    }
}

@media only screen and (max-width: 650px) {
    #row-two-data {
        width: 85%;
    }
}

@media only screen and (max-width: 550px) {
    #row-two-data {
        width: 90%;
    }
}


/* FAQ */


#faq-container {
    display: flex;
    flex-direction: column;
    margin-top: 20vh;
    margin-left: 7vw;
    margin-right: 7vw;
    margin-bottom: 20vh;
}

#faq-description {
    display: flex;
    gap: 5px;
    align-items: center;
}

#faq-heading {
    display: flex;
    flex-direction: column;
    gap: var(--fs-sm);
    margin-bottom: 1rem;
}

#faq-heading-text {
    font-size: var(--fs-md);
    text-align: center;
}

@media only screen and (min-width: 800px) {
    #faq-heading-text {
        font-size: var(--fs-lg);
    }
}

#faq-title {
    font-size: var(--fs-sm);
    color: #4475F2;
    font-weight: 700;
}

#faq-data {
    display: flex;
    position: relative;
}

#faq-more {
    position: absolute;
    right: 0;
    align-self: center;
    text-decoration: none;
    font-size: var(--fs-sm);
}

/* FAQ */

#faq {
    display: flex;
    flex-direction: column;
    gap: 0.8px;
}

.question {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 1rem;
    text-align: center;
    font-weight: 600;
}

.arrow {
    padding-left: 5px;
    padding-right: 3px;
    padding-bottom: 3px;
    border-radius: 50%;
    box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.3);
    /* transform: rotate(90deg); */
    transition: transform 500ms ease;
}

.answer {
    min-height: 0;
    /* padding: 1rem; */
    text-align: justify;
    overflow: hidden;
    transition: height 1s ease;
}

.answer-wrapper {
    display: grid;
    grid-template-rows: 0fr;
    overflow: hidden;
    transition: grid-template-rows 200ms;
    
    width: 100%;
}

.answer-wrapper.open {
    grid-template-rows: 1fr;
    padding: 1rem;
    background-color: #F6F6F6;
}

.arrow.rotate{
    transform: rotate(-90deg);
    background-color: #4475F2;
    color: white;
}

.question.active{
    border: none;
    border-left: 3px solid #4475F2;
    color: #4475F2;
    background-color: #F6F6F6;
}